* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #081b29;
    color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding: 20px;
    letter-spacing: 0.05px;
}

/* Main section */
#me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#profile {
    mask-image: linear-gradient(to bottom, black 50%, transparent),
        linear-gradient(to left, black 80%, transparent);
    mask-composite: intersect;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent),
        linear-gradient(to left, black 80%, transparent);
    -webkit-mask-composite: intersect;
    animation: fadeIn 2.5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

#me>div {
    flex: 1;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #00abf0;
}

#animation {
    position: relative;
    display: inline-block;
    color: transparent;
}

#animation::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #00abf0;
    color: #00abf0;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s steps(30) forwards 3s, blink 0.7s step-end infinite;
}

@keyframes fill-text {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {

    0%,
    100% {
        border-color: #00abf0;
    }

    50% {
        border-color: transparent;
    }
}

/* social icons */

#social-icons {
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#social-icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#social-icons a:hover {
    color: #081b29;
    box-shadow: 0 0 10px #00abf0, 0 0 20px rgba(0, 171, 240, 0.3)
}

#social-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

#social-icons a:hover::before {
    width: 100%;
}

/* Section about me */
#about {
    max-width: 800px;
    line-height: 1.6;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.125rem;
    color: #ddd;
}

/* Section tecnologies */
#tecnologies {
    max-width: 800px;
    text-align: left;
}

#tecnologies h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#tecnologies h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #ccc;
}

#tecnologies ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tecnologies ul li {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    position: relative;
}

#tecnologies ul li::before {
    content: "•";
    color: #0077b5;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    line-height: 1;
}