* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #081b29;
    color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding: 20px;
    letter-spacing: 0.05px;
}

/* Main section */
#me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#profile {
    mask-image: linear-gradient(to bottom, black 50%, transparent),
        linear-gradient(to left, black 80%, transparent);
    mask-composite: intersect;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent),
        linear-gradient(to left, black 80%, transparent);
    -webkit-mask-composite: intersect;
    animation: fadeIn 2.5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

#me>div {
    flex: 1;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #00abf0;
}

#animation {
    position: relative;
    display: inline-block;
    color: transparent;
}

#animation::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #00abf0;
    color: #00abf0;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s steps(30) forwards 3s, blink 0.7s step-end infinite;
}

@keyframes fill-text {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {

    0%,
    100% {
        border-color: #00abf0;
    }

    50% {
        border-color: transparent;
    }
}

/* social icons */

#social-icons {
   display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
    transition: gap 0.3s ease;
}

#social-icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#social-icons a:hover {
    color: #081b29;
    box-shadow: 0 0 10px #00abf0, 0 0 20px rgba(0, 171, 240, 0.3)
}

#social-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

#social-icons a:hover::before {
    width: 100%;
}

/* styles for email popup */
.email-container {
    position: relative;
    display: flex;
    align-items: center;
}

.email-popup {
    display: inline-flex;
    align-items: center;
    background-color: #00abf0;
    color: #081b29;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.email-container.active .email-popup {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.email-popup button {
    margin-left: 10px;
    background-color: #081b29;
    color: #00abf0;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
}

.email-popup button:hover {
    background-color: #00acf032;
    color: #081b29;
    border: 1px solid #081b29;
}

#email-icon {
    cursor: pointer;
}

.other-icons {
    display: flex;
    gap: 15px;
    transition: transform 0.3s ease;
}

.email-container.active + .other-icons {
    transform: translateX(170px); 
}

/* Section about me */
#about {
    line-height: 1.6;
}

#about div.container {
    width: 70%;
    margin: 0 auto;
}

#about h2 {
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.125rem;
    color: #ddd;
}

/* Section tecnologies */

#technologies {
    align-items: space-between;
}

.tech-title {
    padding-bottom: 2rem;
    text-align: center;
}

.technologies .container {
    background: #00acf032;
    color: #00abf0;
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: 2rem auto 0 auto;
    min-width: 100%;
}

.technologies .container .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.technologies .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: #081b29;
    transition: 0.3s ease;
    cursor: pointer;
}

.technologies .container .bar:hover {
    box-shadow: 0 4px 10px #00abf0;
    transform: scale(1.03); 
}

.technologies .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.technologies .container .bar .info span {
    font-weight: 500;
    margin-left: 0.5rem;
}

/* Section projects */

