* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #081b29;
    color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding: 20px;
    letter-spacing: 0.05px;
}

/* Main section */
#me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#profile {
    mask-image: linear-gradient(to bottom, black 50%, transparent),
        linear-gradient(to left, black 80%, transparent);
    mask-composite: intersect;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent),
        linear-gradient(to left, black 80%, transparent);
    -webkit-mask-composite: intersect;
    animation: fadeIn 2.5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

#me>div {
    flex: 1;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #00abf0;
}

#animation {
    position: relative;
    display: inline-block;
    color: transparent;
}

#animation::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #00abf0;
    color: #00abf0;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s steps(30) forwards 3s, blink 0.7s step-end infinite;
}

@keyframes fill-text {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {

    0%,
    100% {
        border-color: #00abf0;
    }

    50% {
        border-color: transparent;
    }
}

/* social icons */

#social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
    min-height: 50px;
}

#social-icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#social-icons a:hover {
    color: #081b29;
    box-shadow: 0 0 10px #00abf0, 0 0 20px rgba(0, 171, 240, 0.3)
}

#social-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

#social-icons a:hover::before {
    width: 100%;
}

#email-icon {
    cursor: pointer;
}

#email {
    display: none;
    background: #00acf032;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    color: #00abf0;
    justify-content: space-between;
    align-items: center;
}

#copy-btn {
    cursor: pointer;
    transition: 0.5s ease;
    padding: 5px;
    border-radius: 8px;
}

#copy-btn:hover {
    background: #00abf0;
    color: #081b29;
}

#copied {
    display: none;
    padding: 5px;
    border: 8px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    padding: 5px;
    background-color: #aae1f7;
    color: #081b29;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.5 ease;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 0.6;
    transition-delay: 1s;
}

/* Section about me */
#about {
    line-height: 1.6;
}

#about div.container {
    width: 70%;
    margin: 0 auto;
}

#about h2 {
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.125rem;
    color: #ddd;
}

/* Section tecnologies */

#technologies {
    align-items: space-between;
}

.tech-title {
    padding-bottom: 2rem;
    text-align: center;
}

.technologies .container {
    background: #00acf032;
    color: #00abf0;
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: 2rem auto 0 auto;
    min-width: 100%;
}

.technologies .container .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.technologies .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: #081b29;
    transition: 0.3s ease;
    cursor: pointer;
    transform-origin: center center;
    will-change: transform
}

.technologies .container .bar:hover {
    box-shadow: 0 4px 10px #00abf0;
    transform: scale(1.03);
}

.technologies .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.technologies .container .bar .info span {
    font-weight: 500;
    margin-left: 0.5rem;
}

/* Section projects */


/* Section contact */

#contact {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-contact h2 {
    text-align: center;
}

.container-contact .contactForm {
    position: relative;
    background: repeating-conic-gradient(from var(--a), #00abf0 0%, #00abf0 10%, transparent 10%, transparent 50%);
    animation: animate 10s linear infinite;
    padding: 80px 100px;
    border-radius: 20px;
    width: 450px;
    height: 500px;
}

.container-contact .contactForm::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #00abf0 0%, #00abf0 10%, transparent 10%, transparent 50%);
    animation: animate 10s linear infinite;
    animation-delay: -2.5s;
    border-radius: 20px;
}

.container-contact .contactForm::after {
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #081b29;
    background: #084562;
    border-radius: 20px;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

.container-contact .contactForm form {
    position: relative;
    z-index: 10;
}

.container-contact .contactForm form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container-contact .contactForm form .inputBox input,
.container-contact .contactForm form .inputBox textarea {
    width: 100%;
    padding: 8px 0;
    font-size: 0.9em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #00abf0;
    color: #fff;
    outline: none;
    resize: none;
}

.container-contact .contactForm form .inputBox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    color: #fff;
    transition: 0.5s;
}

.container-contact .contactForm form .inputBox input:focus~span,
.container-contact .contactForm form .inputBox textarea:focus~span,
.container-contact .contactForm form .inputBox input:valid~span,
.container-contact .contactForm form .inputBox textarea:valid~span {
    color: #00abf0;
    font-size: 0.9em;
    transform: translateY(-24px);
}

.container-contact .contactForm form .inputBox input[type="submit"] {
    width: 100%;
    background: #00abf0;
    color: #081b29;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5 ease;
}

input[type="submit"]:hover {
    background: #32b0ea;
    box-shadow: 0 0 10px #00abf0;
    transform: scale(1.01);
}

input[type="submit"]:active {
    background: #007bb2;
    transform: scale(0.98);
}

@media (max-width: 991px) {
    #contact {
        padding: 50px;
    }
    .container-contact {
        flex-direction: column;
    }
    .container-contact .contactForm {
        width: 100%;
        padding: 30px
    }
    .container-contact .contactForm form {
        padding: 10px;
    }
}